/.idea/*

### DotEnv
.env

### Composer
composer.phar
/vendor/

/composer.lock

### NPM
/node_modules/

### Codeception
/tests/_output/*
/tests/_support/_generated/*

/log/*
!/log/.gitkeep

/public/assets/dist/
/public/assets/vendor/
/public/assets/debugbar/
