/.idea/*

### DotEnv
.env

### Composer
composer.phar
/vendor/

/composer.lock

### NPM
/node_modules/

### Codeception
/tests/_support/_generated/*

/log/*
!/log/.gitkeep

/web/assets/dist/
/web/assets/vendor/
/web/assets/debugbar/
